.form-control:not(:disabled):not(:read-only) {
  @apply bg-gray-50 dark:bg-slate-700;
}
.form-control--invalid {
  @apply border-danger-500 outline-danger-500 focus:border-danger-500 focus:ring-danger-500 dark:border-danger-500 dark:outline-danger-500 dark:focus:border-danger-500 dark:focus:ring-danger-500;
}
.invalid-error {
  @apply block text-danger-500;
}
.form-control.form-control__head {
  border-radius: 0;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
.form-control.form-control__tail {
  border-left-width: 0;
  border-radius: 0;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.form-control:read-only,
.form-control:disabled {
  @apply cursor-not-allowed bg-slate-100 text-slate-400 focus:border-gray-200 dark:border-[#414243] dark:bg-[#262727] dark:text-[#8d9095] dark:focus:border-[#414243] dark:focus:ring-0;

  outline: none;
}
